Remember: Editing an infraction will reset its expiration date
<!--Form Helper for editing an infraction-->
<%= form_for @infraction, url: user_infraction_path, method: :patch, remote: true do |f| %>
    <!--Declare unordered list-->
    <ul>
      <!--Declare list item-->
      <li>
        <!--Render a text box and tooltip for the description-->
        <%= f.text_field :desc, required: true, placeholder: "Description" %>
        <span class="tooltip">Briefly explain why this infraction is necessary</span>
      </li>

      <!--Declare list item-->
      <li>
        <!--Render a number spinner to give points-->
        <%= f.number_field :points, required: true, placeholder: "Points", min: 0, max: 20 %>
        <span class="tooltip">Necessary number of points to be given. You cannot award more than 20 points at a time</span>
      </li>

      <!--Declare list item-->
      <li>
        <!--Render a checkbox to determine whether the lock is permanent-->
        <%= f.check_box :permanent%>
        <span class="tooltip">This will place a permanent infraction on the account. Only use if there are serious issues with the account. Specify the reason for a permanent infraction in the description.</span>
      </li>

      <!--Declare list item-->
      <li>
        <!--Render the submit button-->
        <%= f.submit "Update Infraction", class: "submit" %>
      </li>
    </ul>
<% end %>